<a href="https://colab.research.google.com/github/JamshidSalimov/Movie-app/blob/master/EntertoGC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("salom") # shu yergacha ishlagan bo'lsa demak sizni tabriklayman sizda google colab ishlayabdi

salom

# Heading
* [kirish](https://olcha.uz)
* muqaddima

Bundan tashqari google colab da biz uchun kerakli kutubxonalar o'rnatilgan holatda buladi

In [ ]:
import numpy as np
import pandas as pd 
import sklearn # Machine lorning uchun
import matplotlib.pyplot as plt #vezualizatsiya uchun ishlatiladi matplotlib yoki seaborn kutubxonalari
import seaborn as sns
import torch      # Deep learning uchun ishlatiladigan torch va tansorflow  kutubxonalari
import tensorflow as tf 
# keling biz bu sellni yuritib ko'ramiz

Bu kutubxonalarni versiyasini ham bilishimiz mumkun va u quydagicha amalga oshiriladi.

In [ ]:
tf. __version__

'2.8.2'

Google Colab ning yana bir qulayligi GPU grafik kartadan foydalanishingiz mumkun keling google colabga GPU ni qushishni ko'rib chiqamiz

In [ ]:
import torch

In [ ]:
torch.cuda.is_available() # GPU ni shlayotganini tekshirish uchun shu kodni yozamiz va bu True qiymat qabul qilsa GPU ishlayotganini bildiradi.

True

google colabda fayllarni nazorat qilish bunda fayillarni yuklash, fayillarni joylash, fayillarni chaqirib olish va h.klar bilan ishlaymiz

In [ ]:
!ls # bu orqali biz hozir qaysi deriktoryda ekanimizni bilishimiz mumkun.

sample_data

Keling biz data1 degan papka yaratib uning ichiga qurilmamizdan biror file yuklaymiz va bu fayldan qanday foydalanishni ko'rib utamiz

In [ ]:
import pandas as pd
files=pd.read_excel('./data1/Book1.xlsx') # pandasda maxsus Excel o'qiydigan metod mavjud

In [ ]:
files

,NO,AUTHOR,TITLE OF THE BOOKS,QUANTITY,PRICE
0,1,STEPHEN R. COVEY,The 7 habits of highly effective people,10.0,17 $
1,2,DAN BROWN,DIGITAL FORTRESS,1.0,9 $
2,3,NaN,DECEPTION POINT,1.0,9 $
3,4,NaN,ANGELS AND DEMONS,1.0,29 $
4,5,NaN,INFERNO,1.0,29 $
5,6,NaN,LOST SYMBOL,1.0,29 $
6,7,NaN,DA VINCI CODE,1.0,29$
7,8,NaN,NaN,NaN,NaN
8,9,NaN,NaN,NaN,NaN
9,10,NaN,NaN,NaN,NaN
10,11,NaN,NaN,NaN,NaN
11,12,NaN,NaN,NaN,NaN
12,13,NaN,NaN,NaN,NaN
13,14,NaN,NaN,NaN,NaN
14,15,NaN,NaN,NaN,NaN
15,16,NaN,NaN,NaN,NaN

bundan tashqari fileni ustiga bosib usha filni yuklab olishimiz ham mumkun

Git Hub dan i.python ko'rinishidagi notebooklarni google colabga yuklab olishni ko'rib chiqamiz